.root {
	height: 100%;

	.body {
		display: flex;

		.reference-sidebar {
			min-width: 300px;
		}

		.content {
			flex-grow: 1;
			overflow: hidden;

			.story-container {
				margin: 10px;
				padding: 10px;
		
				.title {
					margin-bottom: 15px;
				}
			}
		}
	}
}

.spinner {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
