.root {
	padding: 14px;

	.divider {
		margin-bottom: 8px;
		margin-top: 12px;
	}

	.center {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.spacing {
		margin-top: 12px;

		&-small {
			margin-top: 6px;
		}

		&-big {
			margin-top: 24px;
		}
	}

	.panel {
		&-heading {
			flex-basis: 33.33%;
			flex-shrink: 0;
			font-size: 15px;
		}

		&-subheading {
			color: grey;
			font-size: 15px;
		}

		&-details {
			display: block;

			.question {
				margin: 10px 0;
				border: 1px solid #E2E2E2;
				padding: 8px;
				border-radius: 3px;

				.type-editor {
					margin: 8px 0;
				}

				&-name {
					margin-top: 8px;
					color: grey;
				}
			}
		}
	}

	.row {
		display: flex;
		align-items: center;

		&-input {
			flex-grow: 100%;
		}
		
		&-label {
			margin-right: 8px;
			color: rgb(138, 138, 138);
			flex-shrink: 0;
		}
	}
	
	.spacer {
		flex-grow: 1;
	}
	
	.edit-page-header {
		margin-bottom: 8px;

		.title-container {
			flex-grow: 1;

			.title {
				margin-right: 5px;
				margin-bottom: 8px;
			}
	
			.name {
				color: grey;
			}
		}
	}

	.label {
		margin-bottom: 6px;
	}

	.editor {
		box-sizing: border-box;
		border: 2px solid rgba(0, 0, 0, 0);
		border-radius: 3px;
		padding: 3px;
		transition: border-color .2s;
		display: inline;
		cursor: text;

		&-placeholder {
			color: rgb(167, 167, 167);
		}

		&:hover {
			border: 2px solid #585B6044;
			border-radius: 3px;
		}

		&-input {
			background: none;
			border: 2px solid #585B60;
			font-family: inherit;
			font-size: inherit;
			border-radius: 3px;
			padding: 2px 3px;
			display: inline;
			outline: none;
		}
	}

	.text-field {
		font-family: inherit;
		font-size: inherit;

		&-root {
			display: flex;
			align-items: center;
		}
	}
}

.spinner-container, .edit-page-header {
	display: flex;
	align-items: center;
}

.spinner-container {
	justify-content: center;
}