.root {
	padding-right: 5px;
	flex-grow: 1;
	max-width: 50%;
	height: 100%;

	.grid-item {
		display: flex;
		align-items: stretch;	
	}

	.button-container {
		display: flex;
		justify-content: center;
		margin-top: 6px;
	}

	&:last-child {
		max-width: 100%;
	}
}

.display {
	margin: 12px 6px;
	max-width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.card-title-content {
		width: 100%;
		
		.title {
			font-size: 1.2rem;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}

	.text {
		-webkit-line-clamp: 3;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.card-content {
		padding-top: 0;
	}

	.card-actions {
		padding: 0 4px;
	}

	.spacer {
		flex-grow: 1;
	}

	.right-button {
		margin-left: auto;
	}
}
