.root {
	margin: 5px 0;
	
	.title-container {
		display: flex;
		align-items: center;

		.title {
			flex-grow: 1;
		}
	}

	.divider {
		margin-bottom: 6px;
	}

	.content {
		margin-bottom: 5px;
	}
}
