.root {
	padding: 10px 20px 10px 10px;
	position: relative;

	.line {
		position: absolute;
		height: calc(100% - 40px);
		border-left: 2px solid #B1B1B1;
		left: 9px;
		top: 20px;
	}

	.timeline-element {
		position: relative;
		display: flex;
		align-items: center;
		margin: 10px 0;

		&:first-child {
			margin: 0 0 10px;
		}

		&:last-child {
			margin: 10px 0 0;
		}

		.dot {
			margin-left: -7px;
			width: 10px;
			height: 10px;
			border: 2px solid #B1B1B1;
			border-radius: 50%;
			margin-right: 7px;
			background-color: white;
			z-index: 10;
		}

		.chip {
			display: flex;
			align-items: center;
			color: #B1B1B1;
			border: 1px solid #B1B1B1;
			padding: 3px 10px 3px 5px;
			border-radius: 10px;

			.icon {
				margin-right: 4px;
			}

			&.new {
				border-style: dashed;
				padding: 3px 10px;
				cursor: pointer;
				transition: border-color 250ms, color 250ms;

				&:hover {
					border-color: darken(#B1B1B1, 50%);
					color: darken(#B1B1B1, 50%);
				}
			}

			.delete-icon {
				color: #AF4242;
				margin-left: 6px;
				display: none;
				transition: color 250ms;
				cursor: pointer;

				&:hover {
					color: darken(#AF4242, 20%);
				}
			}

			&:hover {
				.delete-icon {
					display: flex;
				}
			}
		}
	}
}
