.root {
	padding: 10px;
	margin-bottom: 6px;
	display: flex;
	position: relative;
	overflow: hidden;
	align-items: center;

	.linear-progress {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.spacer {
		flex-grow: 1;
	}
}
