.editor {
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 3px;
	padding: 3px;
	transition: border-color .2s;
	display: inline;
	cursor: text;

	&-placeholder {
		color: rgb(167, 167, 167);
	}

	&:hover {
		border: 2px solid #585B6044;
		border-radius: 3px;
	}

	&-input {
		background: none;
		border: 2px solid #585B60;
		font-family: inherit;
		font-size: inherit;
		border-radius: 3px;
		padding: 2px 3px;
		display: inline;
		outline: none;
	}
}