.root {
	padding: 20px;

	.title {
		text-align: center;
		color: white;
		margin-bottom: 36px;
	}

	.options {
		max-width: 600px;
		margin: auto;
	}

	.card {
		margin-bottom: 8px;

		.card-title {
			padding: 15px;
			text-align: center;
		}
	
		.card-image {
			height: 300px;
		}
	}
}